.root {
    -fx-font-color: white;
}

.menu {
    -fx-font-size: 20;
    -fx-font-color: white;
}
.menu-item {
    -fx-font-size: 15;
    -fx-font-color: #f0f8ff;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d,50%);
}
.menu-bar {
    -fx-background-color: derive(#000000,20%);
    -fx-border-color: black;
    -fx-border-width: 2;
}
.menu-bar .label {
    -fx-font-size: 14pt;
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: white;
    -fx-opacity: 0.9;
}